body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1a1a1a;
  color: #e0e0e0;
}

header {
  background: linear-gradient(45deg, #ff00cc, #333399);
  color: #fff;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  height: 140px;
}

main {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  flex-direction: row;
  justify-content: space-evenly;
}

.top-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.hardware-stats,
.add-process {
  width: 47%;
  background-color: #2b2b2b;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.graph-container {
  display: flex;
  justify-content: space-between;
}

canvas {
  width: 30%;
  height: 200px;
  background-color: #1a1a1a;
  border: 1px solid #4d4d4d;
}

.add-process form {
  display: flex;
  flex-direction: column;
}

.add-process label {
  margin-top: 10px;
  color: #ff00cc;
  font-weight: bold;
}

.add-process input,
.add-process button {
  margin-top: 5px;
  padding: 10px;
  background-color: #333333;
  color: #e0e0e0;
  border: none;
  border-radius: 5px;
}

.add-process button {
  background: linear-gradient(45deg, #ff00cc, #333399);
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 20px;
}

.add-process button:hover {
  transform: scale(1.02);
}

.process-list {
  width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #2b2b2b;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #4d4d4d;
}

th {
  background-color: #333333;
  color: #ff00cc;
}

tr:hover {
  background-color: #3b3b3b;
}

button {
  background: linear-gradient(45deg, #ff00cc, #333399);
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  transform: scale(1.05);
}

.process-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

.autostart {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-left: 20px;
  transform: translateY(5px);
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

#autostart:checked + .slider {
  background-color: #2196f3;
}

#autostart:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

#autostart:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.terminal {
  margin-bottom: 20px;
  width: 50%;
}

.terminal-output {
  height: 85%;
  background-color: #2b2b2b;
  color: #e0e0e0;
  padding: 10px;
  overflow-y: scroll;
  border-radius: 5px;
  margin-top: 40px;
}

.terminal-input {
  display: flex;
  margin-top: 10px;
}

.terminal-input input {
  flex-grow: 1;
  padding: 5px;
  border: none;
  background-color: #333333;
  color: #e0e0e0;
  border-radius: 5px 0 0 5px;
}

.terminal-input button {
  padding: 5px 10px;
  border: none;
  background-color: #ff00cc;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.file-viewer {
  display: flex;
  width: 75%;
  padding: 20px;
}

.file-tree {
  width: 200px;
  height: 300px;
  background-color: #2b2b2b;
  color: #e0e0e0;
  padding: 10px;
  overflow-y: scroll;
  border-radius: 5px;
}

.file-content {
  flex-grow: 1;
  height: 300px;
  background-color: #2b2b2b;
  color: #e0e0e0;
  padding: 10px;
  overflow-y: scroll;
  border-radius: 5px;
  margin-left: 10px;
}

label,
p,
h2 {
  font-size: xx-large;
}

#process-status {
  background: red;
  border-radius: 10px;
  padding: 0px 6px 6px 6px;
  color: white;
}

img {
  position: absolute;
  left: 50px;
  top: 50px;
  width: 80px;
}

#process-name {
  margin-top: 40px;
}
